


.clinic-get_calendar {
	width: 100%;
	font-size: 85%;
}

.clinic-get_calendar-th,
.clinic-get_calendar-td {
	padding: .5em;
	vertical-align: top;
	width: 14%;
}

.clinic-get_calendar-th-week,
.clinic-get_calendar-td-week {
	width: 2%;
	border: none;
}

.clinic-get_calendar-th {
	border-bottom: 2px solid #000;
}

.clinic-get_calendar-th-week,
.clinic-get_calendar-td-week {
	font-weight: normal;
	font-style: italic;
	font-size: 80%;
}

.clinic-get_calendar-td-week {

}

.clinic-get_calendar-td {
	border-bottom: 1px dotted #000;
}

.clinic-get_calendar-td-pad {
	background-color: #eee;
	background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), 
	linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
	background-size:8px 8px;
	background-position:0 0, 4px 4px
}

.clinic-get_calendar-td-day:nth-child( even ) {
	background: rgba( 0, 0, 0, .1 );
}

.clinic-get_calendar-tr:last-child .clinic-get_calendar-td {
	border-bottom: none;
}





@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes flip {
    from {
        transform: rotate( 0deg);
    }
    to {
        transform: rotate( 180deg );
    }
}

.clinic-shown_hidden {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.clinic-shown_hidden-shown {
	position: relative;
	z-index: 1;
	opacity: 1;
	animation: fadeIn 300ms;
}

.clinic-shows_hides {
	transform: rotate( 0180deg );
}

.clinic-shows_hides-showing {
	transform: rotate( 180deg );
	animation: flip 300ms;
}



