


.clinic-get_month_content {
	width: 100%;
	font-size: 85%;
}

.clinic-get_month_content-th,
.clinic-get_month_content-td {
	padding: .5em;
	vertical-align: top;
	width: 14%;
}

.clinic-get_month_content-th-week,
.clinic-get_month_content-td-week {
	width: 2%;
	border: none;
}

.clinic-get_month_content-th {
	border-bottom: 2px solid #000;
}

.clinic-get_month_content-th-week,
.clinic-get_month_content-td-week {
	font-weight: normal;
	font-style: italic;
	font-size: 80%;
}

.clinic-get_month_content-td-week {

}

.clinic-get_month_content-td {
	border-bottom: 1px dotted #000;
}

.clinic-get_month_content-td-pad {
	background-color: #eee;
	background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), 
	linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
	background-size:8px 8px;
	background-position:0 0, 4px 4px
}

.clinic-get_month_content-td-day:nth-child( even ) {
	background: rgba( 0, 0, 0, .1 );
}

.clinic-get_month_content-tr:last-child .clinic-get_month-td {
	border-bottom: none;
}

.clinic-get_month_content-date {
	text-decoration: none;
	font-weight: 600;
}






.CLINIC_Sessions-get_as_ul-li {
	margin-bottom: 2em;
}

.CLINIC_Sessions-get_as_ul-li:last-child {
	margin-bottom: 0;
}

.CLINIC_Sessions-get_as_ul-title {
	margin: 0;
	font-weight: 400;
}

.CLINIC_Sessions-get_as_ul-title .clinic-shows_hides {
	margin-left: .25em;
	vertical-align: middle;
}

.CLINIC_Sessions-get_as_ul-details {

}

.CLINIC_Session-get_details-detail {
	margin-bottom: 0;
}










.clinic-shown_hidden {
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: none;
}

.clinic-shown_hidden-shown {
	position: relative;
	z-index: 1;
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.clinic-shows_hides {
	display: inline-block;
	text-decoration: none;
	transform: rotate( 0deg );
	transition: transform 300ms ease-in-out;

}

.clinic-shows_hides-showing {
	transform: rotate( -180deg );
}















.CLINIC_Calendar-get_page-day .CLINIC_Sessions-get_as_ul-li {
	padding: 1em .5em;
	margin: 0;
}

.CLINIC_Calendar-get_page-day .CLINIC_Sessions-get_as_ul-li:nth-child( even ) {
	background: rgba( 0, 0, 0, .1 );
}

.CLINIC_Calendar-get_page-day .CLINIC_Sessions-get_as_ul-title {
	font-size: 1.25em;
	margin-bottom: 1em;
}








.CLINIC_Calendar-get_week_content-li {
	padding: 1em .5em;
	margin: 0;
}

.CLINIC_Calendar-get_week_content-li:nth-child( even ) {
	background: rgba( 0, 0, 0, .1 );
}

.CLINIC_Calendar-get_week_content-title {
	margin: 0 0 1em 0;
}










.CLINIC_Calendar-get_arrow_link {
	text-decoration: none;
}


.CLINIC_Calendar-get_arrow_link .dashicons {
	vertical-align: text-top;
	font-size: 2em;
	width: auto;
	height: auto;
	line-height: inherit;
}